*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container{
  display: grid;
  place-content: center;
  align-items: center;
  min-height: 100vh;
  background-color:#e0f1e7;
}
input[type="text"],
input[type="email"],
textarea{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
input:focus,
textarea:focus{
  outline: 1px solid green;
  border: 1px solid green;
}
.error-message{
  display: none;
  color:Red;
  margin-top:10px
}
.error-message.form-alert
{
  display: block;
}
.form-container{
  background-color:#ffffff;
  margin: 16px;
  padding: 32px;
  border-radius: 15px;
}
.form-container h1{
  color:#4f5959;
  margin-bottom: 20px;
}
.form-container .input-container
{ margin-bottom: 20px;
}

.form-container .input-container:nth-child(1){
  display: flex;
  gap: 1rem;
}
.form-container .input-container:nth-child(3) .radio-inputs{
  display: flex;
  margin-top: 1rem;
  gap:1em;
}
.form-container .input-container:nth-child(3) .radio-inputs .radio-option{
  cursor: pointer;
  width:100%;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap:1rem;
  outline: 1px solid gray;
  border-radius:4px;
}
.form-container .input-container:nth-child(3) .radio-inputs .radio-option:active{
  background-color: lightgreen;
}
.form-container .input-container:nth-child(3) input[type="radio"]{
  appearance: none;
  width: 10px;
  height: 10px;
  outline:1px solid green;
  outline-offset: 3px;
  border-radius: 50%; 
  cursor: pointer;
}
.form-container .input-container:nth-child(3) input[type="radio"]:checked{
  background-color: green;
}
.form-container .input-container:nth-child(3) .radio-inputs .radio-option label{
 cursor: pointer;
 width: 100%;
}
.form-container .input-container:nth-child(5){
 margin-bottom: 32px;
}
.form-container .input-container:nth-child(5) div{
  display: flex;
  gap: 1rem;
}
.form-container .input-container:nth-child(5) input[type="checkbox"]{
  cursor: pointer;
  accent-color: green;
}
.form-container .input-container:nth-child(5) label{
  cursor: pointer;
}
.form-container .submit-btn{
  background-color:#0c7d69;
  color: white;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px;
}
.form-container .submit-btn:hover{
  background-color: #0a6b5f;
}
.success-message{
  background-color: #0a6b5f;
  color: gray;
  width: max-content;
  padding: 30px;
  pointer-events: none;
  top:10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  position: fixed;
  color: white;
  opacity: 0
}
.success-message:active{
  display: block;
  pointer-events: all;
  animation-name: fadeOut;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut{
  0%, 25% , 50%, 75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
} 
 .success-message{
  margin-bottom: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5rem;

 }
 @media (max-width: 380px){
   
   .form-container .input-container:nth-child(1){
     flex-direction: column;
   }
   .form-container .input-container:nth-child(3).radio-inputs{
     flex-direction: column;
   }
 textarea{
  height: 200px;
 }
 .success-message{
  width: 35ch;
  top:5%
 }
}